$gradation-from: rgba(34,85,136,0.7);
$gradation-to: rgba(34,85,136,0.9);
$shadow: rgba(255,255,255,0.3);

table {
  width: 100%;
  font-size: 20px;
  
  thead {
    //矢印cursorを無効
    pointer-events: none;
  }
  
  tr {
    background: white;
    &:nth-child(2n) {
      background: lightcyan;
    }
    &:hover {
      background: lightskyblue;
      cursor: pointer;
    }
  }
  
  th {
    color: #fff;
    padding: 8px 15px;
    text-align: center;
    
    // 線形グラデーション（縦方向）
    background: linear-gradient($gradation-from, $gradation-to);
    
    //境界線：太さ 種類 色
    border: 1px solid #258;
    
    //文字の行間
    line-height: normal;
    
    //文字の影
    text-shadow: 2px 2px $gradation-to;
    
    //枠の影
    box-shadow: 1px 1px $shadow inset;
  }
  
  td {
      padding: 8px 15px;
      border: 1px solid #84b2e0;
      text-align: center;
      
      &:last-child {
        width: 70%;
        text-align: left;
      }
  }
}


.show-content {
  font-size: 18px;
}

.show-content-label {
  font-weight: bold;
}

.show-content-text {
  padding-left: 5px;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
  margin-bottom: 15px;
  background-color: whitesmoke;
}

.clock {
  text-align: center;
  font-size: 48px;
}